[Unit]
Description=Delete Old Saci Script Logs Service

[Service]
Type=oneshot
User=root
WorkingDirectory=/etc/systemd
EnvironmentFile=/etc/systemd/delete-old-logs.config
ExecStart=/etc/systemd/delete-old-logs.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
