[Unit]
Description=Backup to Disks Timer
Requires=backup-to-disks.service

[Timer]
Unit=backup-to-disks.service
AccuracySec=1ms
RandomizedDelaySec=0
OnCalendar=*-*-* 01:00:00

[Install]
WantedBy=timers.target
