[Unit]
Description=Backup to Disks Service
Wants=backup-to-disks.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/etc/systemd
ExecStart=/etc/systemd/backup-to-disks.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
