[Unit]
Description=Rclone Backup Timer
Requires=rclone-backup.service

[Timer]
Unit=rclone-backup.service
AccuracySec=1ms
RandomizedDelaySec=0
OnCalendar=*-*-* 04:00:00

[Install]
WantedBy=timers.target
