[Unit]
Description=Rclone Backup Service
Wants=rclone-backup.timer

[Service]
Type=oneshot
User=root
WorkingDirectory=/etc/systemd
ExecStart=/etc/systemd/rclone-backup.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
