[Unit]
Description=System Update Timer
Requires=system-update.service

[Timer]
Unit=system-update.service
AccuracySec=1ms
RandomizedDelaySec=0
OnCalendar=Sun *-*-* 00:06:00

[Install]
WantedBy=timers.target
